html,
body {
    padding: 0;
    margin: 0;
    background: #282c34;
    opacity: 95%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.overlaybell {
    z-index: -1;
    background-color: #9e81c4;
    max-width: 85%;
    width: 85%;
    height: 100vh;
    position: absolute;
    left: 15%;
    opacity: 0%;
}

.creditroll {
    background-color: #35bdb8;
    max-height: 5vh;
    text-align: right;
    font-family: 'Fira Code';
}

.container {
    overflow: hidden;
    max-height: 96vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: left;
    height: 100vh;
    color: #ffffff;
    font-family: "Fira Code";
    line-height: 1.6;
    white-space: pre;
    position: relative;
}

.terminalcontainer {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.ekpixel {
    background-color: #f48020;
    height: 1.3rem;
    display: inline-block;
    width: 10px;
    animation: blinker 1s step-end infinite;
    z-index: 1;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.navBar {
    white-space: pre-line;
    padding: 10px 10px 10px 10px;
    border-right-style: solid;
    border-right-color: #92a8d1;
    max-width: 15%;
    width: 15%;
}

.tconpadding {
    padding: 10px 10px 10px 10px;
}

.terminal {
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 100px;
}

.terminal::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.terminal {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.terminalblue {
    color:
        #35bdb8;
}

.terminput {
    background-color: #282c34;
    border: none;
    color: #ffffff;
    outline-width: 0;
    caret-color: #ffffff;
    font-family: "Fira Code";
    font-size: 1rem;
    resize: horizontal;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    caret-color: #282c34;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display:
        flex;
    flex-direction:
        column;
    justify-content:
        center;
    align-items:
        center;
}

.footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display:
        flex;
    justify-content:
        center;
    align-items:
        center;
}

.footer a {
    display:
        flex;
    justify-content:
        center;
    align-items:
        center;
    flex-grow: 1;
}

.title a {
    color:
        #0070f3;
    text-decoration:
        none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration:
        underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align:
        center;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background:
        #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family:
        Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display:
        flex;
    align-items:
        center;
    justify-content:
        center;
    flex-wrap:
        wrap;
    max-width: 800px;
    margin-top: 3rem;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align:
        left;
    color:
        inherit;
    text-decoration:
        none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition:
        color 0.15s ease, border-color 0.15s ease;
    width: 45%;
}

.card:hover,
.card:focus,
.card:active {
    color:
        #0070f3;
    border-color:
        #0070f3;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction:
            column;
    }
}